.inline-block {
    display: inline-block;
    vertical-align: top;
    color: white;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav {
    padding: 1%;
}

ul {
    display: flex;
    color: white;
    text-decoration: none;
    list-style: none;
}

.heroImg {
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: #373738;
    color: white;
    padding: 1%;
}

body {
    background-color: black;
}

.VPlogo {
    width: auto;
    height: 80px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

li {
    margin-left: 20px;
    text-decoration: none;
}